body { 
			padding: 0 0; 
			background-image:url(../images/background.jpg);
			background-position: center;
			background-repeat:no-repeat;
			background-size:cover;
			background-attachment: fixed;
			
}

.main
{
	
/* 	padding-top:7%;  */
	height:100%;
	width: 100%;
	background-image:url(../images/background.jpg);
			background-position: center;
			background-repeat:no-repeat;
			background-size:cover;
			background-attachment: fixed;
}
.logotipo
{
	max-width:40%;
 	max-height:78%;
 	padding-bottom:10%;
 	padding-left: 20%;
}
.content1
{
	width:100%;
	height:10%;
	
	background-image:url(../images/background.jpg);
			background-position: bottom;
			background-repeat:no-repeat;
			background-size:cover;
			background-attachment: fixed;
	
}
.laberBanner1
{
	
	color:#45c225; font-family:Comic Sans MS , cursive ; font-size: 50px;
	text-shadow: 2px 2px 5px #ff8040;
	
}
.content1text
{
	padding-top: 5%;
	
}
.content21
{
	padding-top: 5%;
	
}
.button1
{
	background:#45c225;
	color:white;
	height: 40px;
	width:100px;
	font-family:Comic Sans MS , cursive ; 
	font-size: 20px;
}

.button1:HOVER
{
	background:#ff8040;
	color:white;
	height: 40px;
	width:100px;
	font-family:Comic Sans MS , cursive ; 
	font-size: 20px;
}
.button1:FOCUS
{
	background:#ff8040;
	color:white;
	height: 40px;
	width:100px;
	font-family:Comic Sans MS , cursive ; 
	font-size: 20px;
}
.button1:ACTIVE
{
	background:#ff8040;
	color:white;
	height: 40px;
	width:100px;
	font-family:Comic Sans MS , cursive ; 
	font-size: 20px;
}
.content2
{
	width:100%;
	height:60%;
	padding-top: 0.27%;
	border-radius: 25px;
    border: 2px solid #e97a16;
  
	
}

.content22
{	
	width:900px;
	height:381px;
	background-image:url(../images/wall.jpg);
	background-position: center;
	background-repeat:no-repeat;
	background-size: 900px 381px;
	background-attachment: inherit;
/* 	border-radius: 25px; */
/*     border: 2px solid #e97a16; */
border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../images/border.png) 20% round; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 20% round; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 20% round;
	
}
.content3
{
	width:100%;
	height:20%;
	background-color:#FFFFFF;
	background-image:url(../images/background.jpg);
			background-position: center;
			background-repeat:no-repeat;
			background-size:cover;
			background-attachment: fixed;
	
}

.content3text
{
	padding-top: 5%;
	
}

.laberBanner2
{
	
	color:#45c225; font-family:Comic Sans MS , cursive ; font-size: 20px;
	text-shadow: 2px 2px 5px #ff8040;
	
}

.box1
{
	height: 80px;
	width: 80px;
	-webkit-filter: blur(1px);
	-webkit-filter: brightness(10);
	-webkit-filter: opacity(.5);
	-webkit-filter: contrast(4);
}


.slider{
	display:block;
	position:relative;
	margin:auto;
	width:100%;
	max-width:960px;
	max-height:540px;
	overflow:hidden;	
	height:60%;
	border-radius: 25px;
    border: 2px solid #e97a16;
    
}

.boton{
	position:absolute;
	display:block;
	bottom:30px;
	margin:0;
	padding:0;
	z-index:999;
	cursor:pointer;
	opacity:0;
}

.boton:nth-child(1){
	left:30px;
}
.boton:nth-child(3){
	left:60px;
}
.boton:nth-child(5){
	left:90px;
}
.boton:nth-child(7){
	left:120px;
}

.slider label{
	position:absolute;
	bottom:30px;
	width:20px;
	height:20px;
	background: #ffffff;
	border-radius:7px;
	z-index:100;
	border: 1px solid #777;
}

.slider label:nth-child(2){
	left:30px;
}
.slider label:nth-child(4){
	left:60px;
}
.slider label:nth-child(6){
	left:90px;
}
.slider label:nth-child(8){
	left:120px;
}

.boton:checked + label{
	background: #ffffff;
	border-color: #00ff40;
}

.contenedor-img img {
	display: block;
	float: left;
	
}


.cuatro-imagenes {
	width: 400%;
	
	
}

.cuatro-imagenes img {
	width: 25%;
	
}

.contenedor-img {
	position: relative;
	left: 0;
	-webkit-transition: left .3s ease-in;
  	-ms-transition: left .3s ease-in;
	-moz-transition: left .3s ease-in;
	-o-transition: left .3s ease-in;
	transition: left .3s ease-in;
	-webkit-animation-play-state: running;
	-webkit-animation-name: slideIt;
	-webkit-animation-duration: 12000ms;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	
	
}

.boton:nth-child(1):checked ~ .contenedor-img {
	left: 0;
}

.boton:nth-child(3):checked ~ .contenedor-img {
	left: -100%;
}

.boton:nth-child(5):checked ~ .contenedor-img {
	left: -200%;
}

.boton:nth-child(7):checked ~ .contenedor-img {
	left: -300%;
}


 




   